---
interface Props {
  label: string;
}
const { label } = Astro.props;
---

<button
  data-tab-button={label}
  slot="tab-buttons"
  class="px-4 py-2 text-white hover:text-orange-400 font-medium focus:outline-none"
>
  {label}
</button>

<slot data-tab-content={label} slot="tab-contents" />
