---
import { Tabs as TabsPrimitive } from "@korhq/undocs/astro";
---

<TabsPrimitive class="flex flex-col gap-1">
  <div class="flex p-2 pb-0 rounded-xl rounded-b-sm bg-neutral-900">
    <slot name="tab-buttons" />
  </div>
  <div class="bg-neutral-900 p-2 rounded-xl rounded-t-sm">
    <slot name="tab-contents" />
  </div>
</TabsPrimitive>

<style>
  @reference "~/styles/global.css";

  :global([data-tab-button]) {
    @apply px-2 border-b border-transparent;
  }

  :global([data-tab-button].active) {
    @apply border-b border-orange-400;
  }

  :global([data-tab-content]) {
    @apply hidden;
  }

  :global([data-tab-content].active) {
    @apply block;
  }
</style>
