---
import Inspector from "@/components/playground/Inspector.astro";
import Playground from "@/components/playground/Playground.astro";
import Sidebar from "@/components/playground/Sidebar.astro";
import Layout from "@/layouts/Layout.astro";

import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const previews = await getCollection("previews");
  return previews.map((preview) => ({
    params: { id: preview.id },
    props: { preview },
  }));
}

interface Props {
  preview: CollectionEntry<"previews">;
}

const { preview } = Astro.props;
const { Content } = await render(preview);
---

<Layout>
  <div class="grid-cols-5 grid gap-4 h-full">
    <Sidebar />
    <Playground>
      <h1 class="text-2xl">{preview.data.title}</h1>
      <Content {...preview.data.props} />
      {JSON.stringify(preview.data.props)}
    </Playground>
    <Inspector componentProps={preview.data.props} />
  </div>
</Layout>
