---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PlaygroundLayout from "@/layouts/PlaygroundLayout.astro";

export async function getStaticPaths() {
	const previews = await getCollection("previews");
	return previews.map((preview) => ({
		params: { id: preview.id },
		props: { preview },
	}));
}

interface Props {
	preview: CollectionEntry<"previews">;
}

const { preview } = Astro.props;
const { Content } = await render(preview);
---

<PlaygroundLayout>
  <h1 class="text-2xl">{preview.data.title}</h1>
  <Content />
</PlaygroundLayout>
