---
import Layout from "~/layouts/Layout.astro";
import Sidebar from "~/components/docs/Sidebar.astro";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { id: doc.id },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
---

<Layout>
  <div class="grid-cols-5 grid gap-4 h-full">
    <Sidebar />
    <div class="col-span-4 flex justify-center h-full w-full">
      <div class="max-w-[512px] w-full border border-white/10 rounded-lg p-4">
        <h1 class="text-2xl">{doc.data.title}</h1>
        <Content />
      </div>
    </div>
  </div>
</Layout>
