---
import Sidebar from "../components/playground/Sidebar.astro";
import Playground from "../components/playground/Playground.astro";
import Inspector from "../components/playground/Inspector.astro";
import Layout from "./Layout.astro";
---

<Layout>
  <div class="grid-cols-5 grid gap-4 h-full">
    <Sidebar />
    <Playground><slot /></Playground>
    <Inspector />
  </div>
</Layout>
