---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const stories = await getCollection("stories");
type storyType = CollectionEntry<"stories">;
---

<div
  class="p-4 rounded-md bg-neutral-900 flex flex-col gap-3 col-span-1 h-full"
>
  <a href="/">back</a>
  {
    stories.map((story: storyType) => (
      <a
        href={`/playground/${story.id}`}
        class={`text-lg ${Astro.url.pathname === `/playground/${story.id}` && "text-blue-400"}`}
      >
        {story.data.title}
      </a>
    ))
  }
</div>
